<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>러브쉐어</title>
  <meta charset="utf-8">
  <link th:href="@{/css/bootstrap_lux.css}" href="../css/bootstrap_lux.css" rel="stylesheet">
  <style>
    .container {
      max-width: 700px;
    }
    .field-error {
      border-color: #dc3545;
      color: #dc3545;
    }
  </style>
</head>
<body>
<div class="container">
  <div class="py-5"><br><br><br><br><br>
    <h2 class="text-center">회원가입</h2>
    <form th:action th:object="${member}" method="post">
      <fieldset>
        <div class="form-group">
          <label for="loginId" class="form-label mt-4">ID</label>
          <input type="text" class="form-control" th:errorclass="field-error" id="loginId" th:field="*{loginId}" aria-describedby="IdHelp" placeholder="ID">
          <small id="IdHelp" class="form-text text-muted">아이디는 필수입력사항입니다.</small>
          <div th:class="field-error" th:errors="*{loginId}" />
        </div>
        <div class="form-group">
          <label for="password" class="form-label mt-4">비밀번호</label>
          <input type="password" class="form-control" th:errorclass="field-error" id="password" th:field="*{password}" placeholder="Password">
          <div class="field-error" th:errors="*{password}" />
        </div>
        <div class="form-group">
          <label for="userName" class="form-label mt-4">이름</label>
          <input type="text" class="form-control" th:errorclass="field-error" id="userName" th:field="*{userName}" placeholder="이름을 입력하세요.">
          <div class="field-error" th:errors="*{userName}" />
        </div>
        <div class="form-group">
          <label for="nickName" class="form-label mt-4">닉네임</label>
          <input type="text" class="form-control" th:errorclass="field-error" id="nickName" th:field="*{nickName}" placeholder="닉네임을 입력하세요.">
          <div class="field-error" th:errors="*{nickName}" />
        </div>
        <div class="form-group">
          <label for="age" class="form-label mt-4">나이</label>
          <select class="form-select" th:errorclass="field-error" id="age" th:field="*{age}">
            <option value="" selected="selected">나이를 선택하세요.</option>
            <th:block th:each="num : ${#numbers.sequence(14, 50)}">
              <option th:text="${num}" th:value="${num}"></option>
            </th:block>
          </select>
          <div class="field-error" th:errors="*{age}" />
        </div>
        <label class="form-label mt-4">성별</label>
        <div class="form-check" th:each="type : ${genderType}">
          <input class="form-check-input" th:errorclass="field-error" type="radio" th:field="*{gender}" th:value="${type.name()}">
          <label class="form-check-label"  th:for="${#ids.prev('gender')}" th:text="${type.description}">
            남자
          </label>
          <div class="field-error" th:errors="*{gender}" />
        </div>
        <br>
        <button type="submit" class="btn btn-primary text-center bg-dark" style="width: 680px; font-size: 20px">확인</button>
      </fieldset>
    </form>
  </div>
</div>
</body>
</html>